
@media only screen and (max-width: 1200px){
    .hero-text-images{
       
        width: 100%;
        padding: 0 2%;
       
    }

    .row{
        padding: 0 2%;
    }
    
}


@media only screen and (max-width: 1023px){

}


@media only screen and (max-width: 763px){

}


@media only screen and (max-width: 480px){

}